<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/LambdaTestAutomation/LambdaTest">
        <classes>
            <class name="com.pagefact.tests.SignUpTest">
                <methods>
                    <include name="signUpTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>